* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
@property --rad1-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 16%;
}
@property --rad1-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22%;
}
@property --rad1-radio {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 70%;
}
@property --rad1-hue {
  syntax: '<number>';
  inherits: false;
  initial-value: 200;
}
@property --rad2-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}
@property --rad2-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 56%;
}
@property --rad2-radio {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 70%;
}
@property --rad2-hue {
  syntax: '<number>';
  inherits: false;
  initial-value: 160;
}
@property --rad3-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 76%;
}
@property --rad3-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 65%;
}
@property --rad3-radio {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 70%;
}
@property --rad3-hue {
  syntax: '<number>';
  inherits: false;
  initial-value: 120;
}
.overflow {
  overflow: hidden;
  max-width: 100%;
  height: 98vh;
  min-height: 400px;
  aspect-ratio: 1;
  background: radial-gradient(circle, rgba(0,0,0,.1) 0%, rgba(0,0,0,.8) 120%);
}
.container {
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  background-image: radial-gradient(
      at var(--rad1-x) var(--rad1-y),
      hsla(var(--rad1-hue), 93%, 66%, 1) 0,
      hsla(var(--rad1-hue), 93%, 66%, 0) var(--rad1-radio)
    ),
    radial-gradient(
      at var(--rad2-x) var(--rad2-y),
      hsla(var(--rad2-hue), 88%, 64%, 1) 0,
      hsla(var(--rad2-hue), 88%, 64%, 0) var(--rad2-radio)
    ),
    radial-gradient(
      at var(--rad3-x) var(--rad3-y),
      hsla(var(--rad3-hue), 93%, 55%, 1) 0,
      hsla(var(--rad3-hue), 93%, 55%, 0) var(--rad3-radio)
    );

  z-index: -1;
  transition: all 1s linear;
  animation: 
    hue 6s linear infinite forwards,
    radio 6s linear infinite forwards;
  mix-blend-mode: multiply;
}

@keyframes hue {
  from {
    --rad1-hue: 200;
    --rad2-hue: 160;
    --rad3-hue: 120;
  }
  50% {
    --rad1-hue: 250;
    --rad2-hue: 100;
    --rad3-hue: 50;
  }
  to {
    --rad1-hue: 200;
    --rad2-hue: 160;
    --rad3-hue: 120;
  }
}
@keyframes radio {
  from {
    --rad1-radio: 70;
    --rad2-radio: 70;
    --rad3-radio: 70;
  }
  50% {
    --rad1-radio: 90;
    --rad2-radio: 40;
    --rad3-radio: 120;
  }
  to {
    --rad1-radio: 70;
    --rad2-radio: 70;
    --rad3-radio: 70;
  }
}
